body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SpaceGrotesk', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'), url("./fonts/SpaceGrotesk-Bold.woff") format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'), url("./fonts/SpaceGrotesk-Light.woff") format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'), url("./fonts/SpaceGrotesk-Medium.woff") format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'), url("./fonts/SpaceGrotesk-Regular.woff") format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: local('SpaceGrotesk'), url("./fonts/SpaceGrotesk-SemiBold.woff") format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  z-index: 2;
  width: 100%;
}

.pill-button {
  border-radius: 16px;
  padding: 20px 40px;
}

.sidebar {
  height: 100%;
  padding-bottom: 1%;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  left: 0;
}